/*///////////////////////////////////////////
//////SASS VARIABLES/////////////////////////
///////////////////////////////////////////*/

/*///////////////////////////////////////////
////COLORS/////////////////////////////////*/

/*///Primary Dark Color////////////////////*/
$PrimaryDark: #383838;
/*Jet*/

/*///Primary Light Color///////////////////*/
$PrimaryLight: #F7FFF6;
/*Mint Cream*/

/*///Dark Accent Color/////////////////////*/
$DarkAccent: #00FF00;
/*Electric Green*/

/*///Light Accent Color////////////////////*/
$LightAccent: #087e8b;
/*Teal*/

/*///Secondary Color///////////////////////*/
$Secondary: #696D7D;
/*Gunmetal*/

/*///////////////////////////////////////////
////FONTS//////////////////////////////////*/

/*///Header Font///////////////////////////*/
$HeaderFont: 'Permanent Marker', cursive;

/*///Standard Text Font////////////////////*/
$StandardFont: 'Saira', sans-serif;

/*///Social Border Radius/////////////////*/
$BorderRadiusOne: 14px;