/*////////////////////////////////////
//////NAV BAR/////////////////////////
////////////////////////////////////*/

/*////Nav Element///////////////////*/

.navbar-standard-color{
    background: $Secondary;
    color: $PrimaryLight;
    border-bottom: 2px solid $LightAccent; 
  }

.nav-logo{
    margin-left: 20%;
}
  
  nav a{
    color: $PrimaryLight;
  }
  
  .Nav{
    margin-left: 50vw;
    font-family: $HeaderFont;
    font-size: 24px;
    display: none;
  }

  .desktop-links{
    display: none;
  }

  #myLinks a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  a.icon {
    background: black;
    display: block;
    position: absolute;
    // right: 0;
    // top: 0;
  }
  
  #myLinks a:hover {
    background-color: #ddd;
    color: black;
  }
  
.desktop-links:active {
    background-color: #ffffff;
    color: white;
  }