/*////////////////////////////////////
//////TEAM DETAILS////////////////////
////////////////////////////////////*/


.details-budget{
    font-size: 12px;
}
.table-head{
    font-size: 10px;
}

.player-table{
    font-size: 10px;
    margin: .1rem;
    padding: .1rem;
}

.player-team-table{
    font-size: 10px;
    margin: .1rem;
    padding: .1rem;
    text-align: center;
}

.position-table{
    font-size: 10px;
    margin: .1rem;
    padding: .1rem;
    text-align: center;
}

.salary-table{
    font-size: 10px;
    margin: .1rem;
    padding: .1rem;
    text-align: center;
}

.service-time-table{
    font-size: 10px;
    margin: .1rem;
    padding: .1rem;
    text-align: center;
}

.new-salary-table{
    font-size: 10px;
    margin: .1rem;
    padding: .1rem;
    text-align: center;
}

.table-button{
    font-size:12px;
    width:50px;
    height: 30px;
    margin: .1rem;
    padding: .1rem;
}

.player-kept{
    font-size:10px;
    margin: .1rem;
    padding: .1rem;
}